<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.CommonMapper">

    <select id="dateSequence" parameterType="java.lang.String" resultType="string">
    SELECT TO_CHAR(SYSTIMESTAMP,'yyyyMMddHH24missff')||${_parameter}.NEXTVAL FROM DUAL
    </select>
    
    <select id="sequence" parameterType="java.lang.String" resultType="string">
    SELECT ${_parameter}.NEXTVAL FROM DUAL
    </select>
    
</mapper>