<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.LocationImgMapper">

	<select id="getImgPath" parameterType="com.zyx.model.PageData" resultType="java.util.Map">
	SELECT * FROM WP_LOCATION_IMG WHERE LOCATION_ID = #{LOCATION_ID}
	</select>
    
    <insert id="save" parameterType="com.zyx.model.PageData">
    insert into wp_location_img(IMG_ID,LOCATION_ID,IMG_PATH) 
    values(TO_CHAR(SYSTIMESTAMP,'yyyyMMddHH24missff')||SEQ_LOCATION_IMG_ID.NEXTVAL,#{LOCATION_ID},#{IMG_PATH})
    </insert>
    
</mapper>