<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.infoquery.BasicRuleMapper">

	<!--表名 -->
	<sql id="tableName">
		"BON_BASIC_RULE_TBL"
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		RULE_CODE,
		POINTS_CODE,
		RULE_NUM,
		RULE_NAME,
		RULE_TYPE,
		RULE_FORMULA,
		FORMULA_TYPE,
		STATUS,
		ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{RULE_CODE},
		#{POINTS_CODE},
		#{RULE_NUM},
		#{RULE_NAME},
		#{RULE_TYPE},
		#{RULE_FORMULA},
		#{FORMULA_TYPE},
		#{STATUS},
		to_char(sysdate,'yyyyMMdd')||POINTS_BASIC_SEQ.NEXTVAL		
	</sql>
	
	<select id="list" parameterType="java.util.Map" resultType="java.util.Map">
		select 
				RULE_CODE,
				POINTS_CODE,
				RULE_NUM,
				RULE_NAME,
				RULE_TYPE,
				(select name
		          from jt_dictionaries
		         where parent_id in
		               (select dic_id
		                  from jt_column_dic dic
		                 where dic.table_name = 'BON_BASIC_RULE_TBL'
		                   and dic.table_column = 'RULE_TYPE')
		           and bianma = RULE_TYPE) RULE_TYPE_DESC,
				RULE_FORMULA,
				FORMULA_TYPE,
				(select name
		          from jt_dictionaries
		         where parent_id in
		               (select dic_id
		                  from jt_column_dic dic
		                 where dic.table_name = 'BON_BASIC_RULE_TBL'
		                   and dic.table_column = 'FORMULA_TYPE')
		           and bianma = FORMULA_TYPE) FORMULA_TYPE_DESC,
				STATUS,
				(select name
		          from jt_dictionaries
		         where parent_id in
		               (select dic_id
		                  from jt_column_dic dic
		                 where dic.table_name = 'BON_BASIC_RULE_TBL'
		                   and dic.table_column = 'STATUS')
		           and bianma = STATUS) STATUS_DESC,
		ID
		from 
			<include refid="tableName"></include> a,(select * from jt_organ start with organ_id= #{user.organId} connect by prior organ_id = parent_id) b
			where a.oper_org = b.organ_id
		
		
	</select>
	
	<select id="isExists" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from 
		<include refid="tableName"></include> 
		where ID = #{ID}
	</select>
	
	<select id="listById" parameterType="java.util.Map" resultType="java.util.Map">
		select 
				RULE_CODE,
				POINTS_CODE,
				RULE_NUM,
				RULE_NAME,
				RULE_TYPE,
				(select name
		          from jt_dictionaries
		         where parent_id in
		               (select dic_id
		                  from jt_column_dic dic
		                 where dic.table_name = 'BON_BASIC_RULE_TBL'
		                   and dic.table_column = 'RULE_TYPE')
		           and bianma = RULE_TYPE) RULE_TYPE_DESC,
				RULE_FORMULA,
				FORMULA_TYPE,
				(select name
		          from jt_dictionaries
		         where parent_id in
		               (select dic_id
		                  from jt_column_dic dic
		                 where dic.table_name = 'BON_BASIC_RULE_TBL'
		                   and dic.table_column = 'FORMULA_TYPE')
		           and bianma = FORMULA_TYPE) FORMULA_TYPE_DESC,
				STATUS,
				(select name
		          from jt_dictionaries
		         where parent_id in
		               (select dic_id
		                  from jt_column_dic dic
		                 where dic.table_name = 'BON_BASIC_RULE_TBL'
		                   and dic.table_column = 'STATUS')
		           and bianma = STATUS) STATUS_DESC,
		ID
		from 
		<include refid="tableName"></include>
		where ID = #{ID}
	</select>
	
	<insert id="save" parameterType="java.util.Map">
		insert into 
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		update 
		<include refid="tableName"></include>
		set 
		RULE_CODE = #{RULE_CODE},
		POINTS_CODE = #{POINTS_CODE},
		RULE_NUM = #{RULE_NUM},
		RULE_NAME = #{RULE_NAME},
		RULE_TYPE = #{RULE_TYPE},
		RULE_FORMULA = #{RULE_FORMULA},
		FORMULA_TYPE = #{FORMULA_TYPE},
		STATUS = #{STATUS},
		ID = ID
		where ID = #{ID}
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
		delete from 
		<include refid="tableName"></include>
		where ID = #{ID}
	</delete>
    
</mapper>