<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<dif th:include="system/index/top::tophead"></dif>
</head>
<body class="no-skin">
	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="page-header">
							<h1>
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									详情
								</small>
							</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<form name="Form" id="Form"
								method="post">
								<div id="zhongxin" style="padding-top: 13px;">
									<table id="table_report"
										class="table table-striped table-bordered table-hover">
																				<tr>
											<td style="text-align: right; padding-top: 13px;">积分账号:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.POINTS_NO}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">商城编码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.SHOP_CODE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">付出商城:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily.SHOP_CODE_OUT_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">渠道:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.CHANNEL}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">方向:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily.DIRECTION_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">积分活动模板:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.POINTS_ID}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易日期:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.TRANS_DATE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">会员号:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.USER_ID}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">证件类型:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily.CUSTR_TYPE_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">证件号码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.CUSTR_NBR}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易金额:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.BILL_AMT}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易发生日期:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.INP_DATE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易时间:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.INP_TIME}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">流水号:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.SERIALNO}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">查询号码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.SEARCH}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">积分描述:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.MSG}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">积分值:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.POINTS}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">批量文件表ID:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.FILEID}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">原交易Id:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily == null ? '' : datadaily.ORI_ID}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">状态:</td>
											<td style="padding-top: 13px;">
												<span th:text="${datadaily.STATUS_DESC}"></span>
											</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /.main-container -->

	<footer>
		<div style="width: 100%; padding-bottom: 2px;" class="center">
			<a class="btn btn-mini btn-danger" onclick="cancel();">返回</a>
		</div>
	</footer>

	<!-- 页面底部js¨ -->
	<div th:include="system/index/foot::footdiv" />
	<!--提示框-->
	<script type="text/javascript" th:src="@{/js/jquery.tips.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(top.hangge());
		function cancel(){
			/*<![CDATA[*/
			top.jzts();
			if(true && document.forms[0]){
				var url = /*[[${url}]]*/;
				document.forms[0].action = url;
				document.forms[0].submit();
			}
			/*]]>*/		
		}
	</script>
</body>
</html>