<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<dif th:include="system/index/top::tophead"></dif>
</head>
<body class="no-skin">
	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="page-header">
							<h1>
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									详情
								</small>
							</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<form name="Form" id="Form"
								method="post">
								<div id="zhongxin" style="padding-top: 13px;">
									<table id="table_report"
										class="table table-striped table-bordered table-hover">
																				<tr>
											<td style="text-align: right; padding-top: 13px;">交易日期:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg == null ? '' : errmsg.TRANS_DATE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易时间:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg.TRANS_TIME_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg == null ? '' : errmsg.TRANS_CODE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">卡号、会员号等:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg == null ? '' : errmsg.USER_ID}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">电话号码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg == null ? '' : errmsg.PHONE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">证件类型:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg.CUSTR_TYPE_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">证件号码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg == null ? '' : errmsg.CUSTR_NBR}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">保留信息:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg == null ? '' : errmsg.RESERVE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">错误信息:</td>
											<td style="padding-top: 13px;">
												<span th:text="${errmsg == null ? '' : errmsg.ERRMSG}"></span>
											</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /.main-container -->

	<footer>
		<div style="width: 100%; padding-bottom: 2px;" class="center">
			<a class="btn btn-mini btn-danger" onclick="cancel();">返回</a>
		</div>
	</footer>

	<!-- 页面底部js¨ -->
	<div th:include="system/index/foot::footdiv" />
	<!--提示框-->
	<script type="text/javascript" th:src="@{/js/jquery.tips.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(top.hangge());
		function cancel(){
			/*<![CDATA[*/
			top.jzts();
			if(true && document.forms[0]){
				var url = /*[[${url}]]*/;
				document.forms[0].action = url;
				document.forms[0].submit();
			}
			/*]]>*/		
		}
	</script>
</body>
</html>