
<div th:fragment="footdiv">
	<!--[if !IE]> -->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		window.jQuery || document.write('<script src='+[[@{/ace/js/jquery.js}]]+'>'+'<'+'/script>');
		/*]]>*/
		</script>
	<!-- <![endif]-->
	<!--[if IE]>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		 window.jQuery || document.write('<script src='+[[@{/ace/js/jquery1x.js}]]+'>'+'<'+'/script>');
		 /*]]>*/		</script>
		<![endif]-->
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		if('ontouchstart' in document.documentElement) document.write('<script src='+[[@{/ace/js/jquery.mobile.custom.js}]]+'>'+'<'+'/script>');
		/*]]>*/		</script>
	<script th:src="@{/ace/js/bootstrap.js}"></script>
	<script th:src="@{/js/jquery.serializejson.min.js}"></script>
</div>