<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<dif th:include="system/index/top::tophead"></dif>
</head>
<body class="no-skin">
	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="page-header">
							<h1>
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									详情
								</small>
							</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<form name="Form" id="Form"
								method="post">
								<div id="zhongxin" style="padding-top: 13px;">
									<table id="table_report"
										class="table table-striped table-bordered table-hover">
																				<tr>
											<td style="text-align: right; padding-top: 13px;">业务类型:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.YWLX}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易日期:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.TRANS_DATE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易时间:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.TRANS_TIME}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">交易机构号:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.ORGCODE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">传送方向:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch.FILE_DIRECTION_CD_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">文件种类:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch.FILE_TYPE_CD_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">种类细分:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.FILE_TYPE_DTL_CD}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">文件名:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.FILE_NAME}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">条数:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.FILE_NUM}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">积分:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.POINTS}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">其它统计值:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.OTHER_NUM}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">本地文件全路径文件名:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.LOC_FILE_NAME}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">远端文件全路径文件名:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.RMT_FILE_NAME}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">传送结果:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch.TRANS_RSLT_CD_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">处理结果:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch.PROCESS_RSLT_CD_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">传输失败次数:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.TRANS_FAIL_QT}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;">扩展信息:</td>
											<td style="padding-top: 13px;">
												<span th:text="${filebatch == null ? '' : filebatch.MISC_TX}"></span>
											</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /.main-container -->

	<footer>
		<div style="width: 100%; padding-bottom: 2px;" class="center">
			<a class="btn btn-mini btn-danger" onclick="cancel();">返回</a>
		</div>
	</footer>

	<!-- 页面底部js¨ -->
	<div th:include="system/index/foot::footdiv" />
	<!--提示框-->
	<script type="text/javascript" th:src="@{/js/jquery.tips.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(top.hangge());
		function cancel(){
			/*<![CDATA[*/
			top.jzts();
			if(true && document.forms[0]){
				var url = /*[[${url}]]*/;
				document.forms[0].action = url;
				document.forms[0].submit();
			}
			/*]]>*/		
		}
	</script>
</body>
</html>