<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<dif th:include="system/index/top::tophead"></dif>
</head>
<body class="no-skin">
	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="page-header">
							<h1>
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									详情
								</small>
							</h1>
					</div><!-- /.page-header -->
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<form name="Form" id="Form"
								method="post">
								<div id="zhongxin" style="padding-top: 13px;">
									<table id="table_report"
										class="table table-striped table-bordered table-hover">
																				<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">商城编码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.SHOP_CODE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">积分编码:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.POINTS_CODE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">类型:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints.TYPE_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">积分获得者:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints.OWNER_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">积分名称:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.POINTS_NAME}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">积分类型:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints.POINTS_TYPE_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">积分使用范围:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.POINTS_RANGE_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">数据标志:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.DATA_FLAG_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">计算方式:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints.RUN_FLAG_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">长期有效标志:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints.LONGTIME_FLAG_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">起始日期:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.POINTS_STDATE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">终止日期:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.POINTS_ENDATE}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">限额类型:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints.LIMIT_TYPE_DESC}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">最大积分值:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints == null ? '' : basicpoints.MAX_POINTS}"></span>
											</td>
										</tr>
										<tr>
											<td style="text-align: right; padding-top: 13px;width:30%;">状态:</td>
											<td style="padding-top: 13px;">
												<span th:text="${basicpoints.STATUS_DESC}"></span>
											</td>
										</tr>
									</table>
								</div>
							</form>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /.main-container -->

	<footer>
		<div style="width: 100%; padding-bottom: 2px;" class="center">
			<a class="btn btn-mini btn-danger" onclick="cancel();">返回</a>
		</div>
	</footer>

	<!-- 页面底部js¨ -->
	<div th:include="system/index/foot::footdiv" />
	<!--提示框-->
	<script type="text/javascript" th:src="@{/js/jquery.tips.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(top.hangge());
		function cancel(){
			/*<![CDATA[*/
			top.jzts();
			if(true && document.forms[0]){
				var url = /*[[${url}]]*/;
				document.forms[0].action = url;
				document.forms[0].submit();
			}
			/*]]>*/		
		}
	</script>
</body>
</html>