<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.PulldownMapper">

	<!--表名 -->
	<sql id="tableName">
		"JT_COLUMN_DIC"
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		"ID",	
		"TABLE_NAME",	
		"TABLE_COLUMN",	
		"DIC_ID"
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		SEQ_COLUMN_DIC_ID.NEXTVAL,	
		#{TABLE_NAME,jdbcType=VARCHAR},	
		#{TABLE_COLUMN,jdbcType=VARCHAR},	
		#{DIC_ID,jdbcType=INTEGER}
	</sql>
	
	<select id="list" parameterType="java.util.Map" resultType="java.util.Map">
		select * from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="keywords!= null and keywords != ''">
			and
				(
					 TABLE_NAME LIKE CONCAT(CONCAT('%', #{keywords}),'%')
					 or 
					 TABLE_COLUMN LIKE CONCAT(CONCAT('%', #{keywords}),'%') 
				)
		</if>
		order by table_name,table_column
	</select>
	
	<select id="listById" parameterType="java.util.Map" resultType="java.util.Map">
		select * from 
		<include refid="tableName"></include>
		where ID = #{ID}
	</select>
	
	<insert id="save" parameterType="java.util.Map">
		insert into 
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		update 
		<include refid="tableName"></include>
		set TABLE_NAME = #{TABLE_NAME,jdbcType=VARCHAR},
		TABLE_COLUMN = #{TABLE_COLUMN,jdbcType=VARCHAR},
		DIC_ID = #{DIC_ID,jdbcType=INTEGER}
		where ID = #{ID,jdbcType=INTEGER}
	</update>
	
	<update id="updateDic" parameterType="java.util.Map">
		update 
		<include refid="tableName"></include>
		set DIC_ID = #{DIC_ID}
		where ID = #{ID}
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
		delete from 
		<include refid="tableName"></include>
		where ID = #{ID}
	</delete>
    
</mapper>